#main {
  background-position: 100% -150px, 0 center, left center;
}

@media screen and (min-width: 768px) {
  .call-out {
    background-size: 100% auto;
    padding-left: 40%;
    min-height: 500px;
  }
  .site-header .avatar {
    width: 12em;
    height: auto;
    float: left;
    margin: -83px 0px -73px;
    padding: 0 15px;
  }
}

@media screen and (min-width: 1068px) {
.call-out {
    background-size: 120% auto;
    padding-left: 40%;
    padding-top: 10%;
    padding-bottom: 10%;
    background-position: 20% -120px, center, left center !important;
  }
}

@media screen and (min-width: 1620px) {
.call-out {
    background-size: cover;
    padding-left: 40%;
    padding-top: 15%;
    padding-bottom: 15%;
    background-position: 20% -220px, center, left center !important;
  }
}
